/* ===============================
  404 NOT FOUND STYLES
================================= */
.not-found {
  text-align: center;
  padding: 80px 0;
  margin-top: 5vh;
}

.not-found p {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark);
  opacity: 0.8;
  margin-top: 15px;
}

.not-found-img {
  display: block;
  width: 90%;
  max-width: 550px;
  height: auto;
  margin: 0 auto 30px;
}

/* ===============================
  RESPONSIVENESS (Jika diperlukan)
================================= */
@media (max-width: 480px) {
  .not-found {
    padding: 40px 0;
  }

  .not-found-img {
    max-width: 300px;
  }

  .not-found p {
    font-size: 18px;
  }
}
