/* ===============================
   RESPONSIVE EXTRA
================================= */

@media (max-width: 768px) {
  .home h1 {
    font-size: 32px;
  }

  .home p {
    width: 100%;
    font-size: 16px;
  }

  .experience-section {
    flex-direction: column;
    align-items: center;
  }

  .experience-box {
    width: 100%;
    max-width: 300px;
  }
}
