.navbar {
  padding: 1rem;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-links li {
  float: right;
}

.nav-links a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ff204e;
}

.nav-links .active {
  color: #ff204e;
}
